*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
font-size: 16px;
}
span{
  display:inline-block;
  
}

.Login{
  background-image: url("../public/images/vv.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  
  width:100vw;
  height:100vh;
  margin:0;
  display: flex;
  align-items: center;
  color: white;
 
 
}
span{font-weight: 700; font-size: 1.5rem; }
.heading_initial{
  color: #16df67;
  font-size: 1.5rem;
}
a{
  text-decoration: none;
  margin:0px 10px;
}
a:hover{
  border-bottom:2px solid green;
  
}

.form{
  width:90%;
  margin:auto;
 background:transparent;
 backdrop-filter:blur(10px);
  
}
.formContainer label{
  
  font-weight: 200;
  margin-left: 7%;
  
}
.formContainer{
  padding:15px;
  width:40%;
  position: relative;
  margin:auto;
  border-radius:15px ;
  border:2px white solid;
  display:flex;
  flex-direction: column;
  gap:15px;
  -webkit-border-radius:15px ;
  -moz-border-radius:15px ;
  -ms-border-radius:15px ;
  -o-border-radius:15px ;
}
   .tcenter{
    text-align: center;
   }
 